@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.App {
	/* background-color: #cfcfcf; */
}

.bg-white {
	background-color: #fff;
}

.content {
	width: 1180px !important;
	zoom: 1 !important;
	margin: auto !important;
}

.DownloadWrapper {
	height: 572px;
	background-color: #f8f8fb;
	position: relative;
}

.rupees_symbol {
	font-family: 'Roboto', sans-serif;
}

.mobile_list {
	position: relative;
	width: 100%;
	background-color: var(--primary-color);
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 100%;
	transition: left .5s linear;
}

.mobile_list>.close_icon {
	position: absolute;
	right: 3rem;
	top: 3rem;
	font-size: 3rem;
	color: white;

}

.mobile_list::before,
.mobile_list::after {
	display: none;
}

.mobile_list>ul {
	margin: 0;
	padding: 0;
}

.mobile_list>ul>li {
	text-align: center;
	padding: 1rem 2rem;
}

.mobile_list>ul>li:hover {
	background-color: white;
}

.mobile_list>ul>li:hover>a {
	color: var(--primary-color);
}

.mobile_list>ul>li>a {
	color: white;
	font-size: 3rem;
	text-decoration: none;
	font-weight: 400;
	font-family: 'CamphorBold';
}

#hamburger_icon {
	display: none;
	appearance: none;
}

#hamburger_icon:checked~.mobile_list {
	left: 0;
}

#hamburger_icon:checked~.hamburger_menu {
	display: none;
}

.hamburger_menu {
	display: none;
	font-size: 3rem;
	width: 4rem;
	height: 4rem;
	position: absolute;
	right: 0;
	top: 2rem;
	color: var(--primary-color);
}



@media (max-width: 1200px) {

	.content {
		width: 100% !important;
	}

	#medicines,
	#lab_tests,
	#surgeries {
		display: none !important;
	}

	#try_plus_ad {
		display: none !important;
	}

	#nav_mid {
		display: none;
	}

	#cards_content {
		width: 100% !important;
	}

	#searchbar_content {
		width: 100% !important;
	}

	#searchbar_wrapper {
		width: 90% !important;
		margin: 0 auto;
	}

}

@media (max-width: 600px) {

	.content {
		width: 100% !important;
		text-align: center;
	}

	.hamburger_menu {
		display: block;
	}

	.nav>.wrapper {
		display: flex !important;
		justify-content: center !important;
		align-items: center !important;
	}

	.nav>.wrapper>.nav-left {
		text-align: center;
	}

	.nav>.wrapper>div:last-child {
		display: none !important;
	}

	.Card {
		margin-bottom: 1rem;
	}

	.head {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}

	.head>.btn {
		position: unset !important;
	}

	#cards_content {
		flex-direction: column;
		align-items: center;
	}

	#card_content>div {
		margin-bottom: 1rem !important;
	}

	#consult_doc {
		flex-direction: column;
		display: flex;
		align-items: center;
	}

	#download_left {
		display: none;
	}

	#download_right {
		width: 100%;
		margin: 0 auto;
		padding: 1rem 2rem;
		/* text-align: center; */
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	#searchbar_content {
		width: 100%;
	}

	#searchbar_wrapper {
		width: 90%;
		margin: 0 auto;
	}

	#banner_wrapper {
		min-height: unset;
	}

	#footer_section {
		min-width: 100vw !important;
		width: 100%;
	}

	#footer_top {
		width: 100% !important;

	}

	.footerdata {
		min-width: 163px;
		padding: 1rem;
	}

	.footerdata>h3 {
		margin-top: 3rem;
	}


	#download {
		display: block;
	}

	#downloadsub2 {
		margin-left: 13% !important;
	}

	#beforedownload {
		/* margin-left: 12% !important; */
	}

	#benifit_card {
		margin-left: 5% !important;
	}

	#content {
		width: 95% !important;
	}

	#pinkbanner {
		height: 45% !important;
		width: 62% !important;
	}

	#pinkheading {
		font-size: 20px;
	}

	#pinksub {
		font-size: 12px;
	}

	#active {
		font-size: 10px;
	}

	#add {
		font-size: 12px;
		display: block !important;
	}

	.ctrl-btn {
		display: none !important;
	}

}

html {
    width: 100%;
    height: 100%;
  }
  
  body {
    background: white;
    color: rgba(0, 0, 0, 0.6);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 1.6em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .overlay, .form-panel.one:before {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
  }
  
  .form {
    z-index: 15;
    position: relative;
    background: #FFFFFF;
    width: 600px;
    border-radius: 4px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin: 100px auto 10px;
    overflow: hidden;
  }
  .form-toggle {
    z-index: 10;
    position: absolute;
    top: 60px;
    right: 60px;
    background: #FFFFFF;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    transform-origin: center;
    transform: translate(0, -25%) scale(0);
    opacity: 0;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .form-toggle:before, .form-toggle:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 4px;
    background: #9BE564;
    transform: translate(-50%, -50%);
  }
  .form-toggle:before {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  .form-toggle:after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  .form-toggle.visible {
    transform: translate(0, -25%) scale(1);
    opacity: 1;
  }
  .form-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 20px;
  }
  .form-group:last-child {
    margin: 0;
  }
  .form-group label {
    display: block;
    margin: 0 0 10px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.2em;
  }
  .two .form-group label {
    color: #FFFFFF;
  }
  .form-group input {
    outline: none;
    display: block;
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 12px 20px;
    color: rgba(0, 0, 0, 0.6);
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: inherit;
    transition: 0.3s ease;
  }
  .form-group input:focus {
    color: rgba(0, 0, 0, 0.8);
  }
  .two .form-group input {
    color: #FFFFFF;
  }
  .two .form-group input:focus {
    color: #FFFFFF;
  }
  .form-group button {
    outline: none;
    background: #9BE564;
    width: 100%;
    border: 0;
    border-radius: 4px;
    padding: 12px 20px;
    color: #FFFFFF;
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: inherit;
    text-transform: uppercase;
    cursor: pointer;
  }
  .two .form-group button {
    background: #FFFFFF;
    color: #4285F4;
  }
  .form-group .form-remember {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    text-transform: none;
  }
  .form-group .form-remember input[type=checkbox] {
    display: inline-block;
    width: auto;
    margin: 0 10px 0 0;
  }
  .form-group .form-recovery {
    color: #9BE564;
    font-size: 12px;
    text-decoration: none;
  }
  .form-panel {
    padding: 60px calc(5% + 60px) 60px 60px;
    box-sizing: border-box;
  }
  .form-panel.one:before {
    content: "";
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
  }
  .form-panel.one.hidden:before {
    display: block;
    opacity: 1;
    visibility: visible;
  }
  .form-panel.two {
    z-index: 5;
    position: absolute;
    top: 0;
    left: 95%;
    background: #4285F4;
    width: 100%;
    min-height: 100%;
    padding: 60px calc(10% + 60px) 60px 60px;
    transition: 0.3s ease;
    cursor: pointer;
  }
  .form-panel.two:before, .form-panel.two:after {
    content: "";
    display: block;
    position: absolute;
    top: 60px;
    left: 1.5%;
    background: rgba(255, 255, 255, 0.2);
    height: 30px;
    width: 2px;
    transition: 0.3s ease;
  }
  .form-panel.two:after {
    left: 3%;
  }
  .form-panel.two:hover {
    left: 93%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .form-panel.two:hover:before, .form-panel.two:hover:after {
    opacity: 0;
  }
  .form-panel.two.active {
    left: 10%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: default;
  }
  .form-panel.two.active:before, .form-panel.two.active:after {
    opacity: 0;
  }
  .form-header {
    margin: 0 0 40px;
  }
  .form-header h1 {
    padding: 4px 0;
    color: #9BE564;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .two .form-header h1 {
    position: relative;
    z-index: 40;
    color: #FFFFFF;
  }
  .pen-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 600px;
    margin: 20px auto 100px;
  }
  .pen-footer a {
    color: #FFFFFF;
    font-size: 12px;
    text-decoration: none;
    text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.1);
  }
  .pen-footer a .material-icons {
    width: 12px;
    margin: 0 5px;
    vertical-align: middle;
    font-size: 12px;
  }
  
  .cp-fab {
    background: #FFFFFF !important;
    color: #4285F4 !important;
  }